<a href="https://colab.research.google.com/github/ThiPauli/Book-Recommendation-Engine-KNN/blob/main/fcc_book_recommendation_knn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Note: You are currently reading this using Google Colaboratory which is a cloud-hosted version of Jupyter Notebook. This is a document containing both text cells for documentation and runnable code cells. If you are unfamiliar with Jupyter Notebook, watch this 3-minute introduction before starting this challenge: https://www.youtube.com/watch?v=inN8seMm7UI*

---

In this challenge, you will create a book recommendation algorithm using **K-Nearest Neighbors**.

You will use the [Book-Crossings dataset](http://www2.informatik.uni-freiburg.de/~cziegler/BX/). This dataset contains 1.1 million ratings (scale of 1-10) of 270,000 books by 90,000 users. 

After importing and cleaning the data, use `NearestNeighbors` from `sklearn.neighbors` to develop a model that shows books that are similar to a given book. The Nearest Neighbors algorithm measures distance to determine the “closeness” of instances.

Create a function named `get_recommends` that takes a book title (from the dataset) as an argument and returns a list of 5 similar books with their distances from the book argument.

This code:

`get_recommends("The Queen of the Damned (Vampire Chronicles (Paperback))")`

should return:

```
[
  'The Queen of the Damned (Vampire Chronicles (Paperback))',
  [
    ['Catch 22', 0.793983519077301], 
    ['The Witching Hour (Lives of the Mayfair Witches)', 0.7448656558990479], 
    ['Interview with the Vampire', 0.7345068454742432],
    ['The Tale of the Body Thief (Vampire Chronicles (Paperback))', 0.5376338362693787],
    ['The Vampire Lestat (Vampire Chronicles, Book II)', 0.5178412199020386]
  ]
]
```

Notice that the data returned from `get_recommends()` is a list. The first element in the list is the book title passed in to the function. The second element in the list is a list of five more lists. Each of the five lists contains a recommended book and the distance from the recommended book to the book passed in to the function.

If you graph the dataset (optional), you will notice that most books are not rated frequently. To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings.

The first three cells import libraries you may need and the data to use. The final cell is for testing. Write all your code in between those cells.

In [209]:
# import libraries (you may add additional imports but you may not have to)
import numpy as np
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt

In [ ]:
# get data files
!wget https://cdn.freecodecamp.org/project-data/books/book-crossings.zip

!unzip book-crossings.zip

books_filename = 'BX-Books.csv'
ratings_filename = 'BX-Book-Ratings.csv'

In [257]:
# import csv data into dataframes
df_books = pd.read_csv(
    books_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['isbn', 'title', 'author'],
    usecols=['isbn', 'title', 'author'],
    dtype={'isbn': 'str', 'title': 'str', 'author': 'str'})

df_ratings = pd.read_csv(
    ratings_filename,
    encoding = "ISO-8859-1",
    sep=";",
    header=0,
    names=['user', 'isbn', 'rating'],
    usecols=['user', 'isbn', 'rating'],
    dtype={'user': 'int32', 'isbn': 'str', 'rating': 'float32'})

In [258]:
df_books.head()

         isbn  ...                author
0  0195153448  ...    Mark P. O. Morford
1  0002005018  ...  Richard Bruce Wright
2  0060973129  ...          Carlo D'Este
3  0374157065  ...      Gina Bari Kolata
4  0393045218  ...       E. J. W. Barber

[5 rows x 3 columns]

In [259]:
df_ratings.head()

     user        isbn  rating
0  276725  034545104X     0.0
1  276726  0155061224     5.0
2  276727  0446520802     0.0
3  276729  052165615X     3.0
4  276729  0521795028     6.0

In [260]:
df_ratings['user'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
158698        1
17920         1
277135        1
275086        1
187812        1
Name: user, Length: 105283, dtype: int64

In [261]:
df_ratings['isbn'].value_counts()

0971880107    2502
0316666343    1295
0385504209     883
0060928336     732
0312195516     723
              ...
2253063959       1
0312262302       1
3423116145       1
0339134255       1
0201608405       1
Name: isbn, Length: 340556, dtype: int64

In [262]:
#To ensure statistical significance, remove from the dataset users with less than 200 ratings and books with less than 100 ratings.
count_1 = df_ratings['user'].value_counts()
count_2 = df_ratings['isbn'].value_counts()

#Removing users with less than 200 rates
df_ratings = df_ratings[~df_ratings['user'].isin(count_1[count_1 < 200].index)]

#Removing books with less than 100 ratings.
df_ratings = df_ratings[~df_ratings['isbn'].isin(count_2[count_2 < 100].index)]

In [263]:
#merging both data frames through the isbn column values.
new_df = pd.merge(right=df_ratings, left = df_books, on="isbn")

In [264]:
#drop duplicate values because if the same user has rated the same book multiple times
new_df.drop_duplicates(subset=["title", "user"], inplace=True)

In [265]:
new_df.head()

         isbn          title        author    user  rating
0  0440234743  The Testament  John Grisham  277478     0.0
1  0440234743  The Testament  John Grisham    2977     0.0
2  0440234743  The Testament  John Grisham    3363     0.0
3  0440234743  The Testament  John Grisham    7346     9.0
4  0440234743  The Testament  John Grisham    9856     0.0

In [266]:
#Creating a Pivot Matrix. Each row is the books title and each column the users with the respect rating values.
#All NaN is filled with 0, because some users did not rate some books. So 0 means the book was not rated by the user.

books_users = new_df.pivot_table(index = 'title', columns = 'user', values = 'rating').fillna(0)

In [267]:
books_users

user                                                254     ...  278418
title                                                       ...
1984                                                   9.0  ...     0.0
1st to Die: A Novel                                    0.0  ...     0.0
2nd Chance                                             0.0  ...     0.0
4 Blondes                                              0.0  ...     0.0
A Beautiful Mind: The Life of Mathematical Geni...     0.0  ...     0.0
...                                                    ...  ...     ...
Without Remorse                                        0.0  ...     0.0
Year of Wonders                                        0.0  ...     0.0
You Belong To Me                                       0.0  ...     0.0
Zen and the Art of Motorcycle Maintenance: An I...     0.0  ...     0.0
\O\" Is for Outlaw"                                    0.0  ...     0.0

[673 rows x 888 columns]

In [268]:
from scipy.sparse import csr_matrix

# creating the Spare Matrix.
# A sparse matrix or sparse array is a matrix in which most of the elements are zero.
#As in the pivot table, we have lots of zero values, we convert it to a sparse matrix.
books_users_matrix = csr_matrix(books_users)

In [269]:
#Using cosine similarity of all vectors. In our pivot table, vectors are the books with the rating values of each user. Ex: Book 1 = [3, 4, 0, 10...]
#So, it calculates the magnitude between 2 vectors. Example: Cos(A,B) => 0.70 , they have 70% of similarity
#Brute means find the distance of every point to every other point.

#Trying to find all the nearst neighbor and group them together.

model_knn = NearestNeighbors(metric='cosine', algorithm='brute')
model_knn.fit(books_users_matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [281]:
# function to return recommended books - this will be tested
def get_recommends(book = ""):

  #getting the correspondent index value according to the book name from the books_users dataframe.
  index_book = list(books_users.index)
  number_index = index_book.index(book)

  #So, I am passing to the kneighbors method a single vector, which is represented by the book (name).
  #'reshape (1, -1)' changing number of rows to 1 row and filling all columns!
  distances, indeces = model_knn.kneighbors(books_users.iloc[number_index,:].values.reshape(1,-1), n_neighbors=6)

  #print(distances, indeces) , run this code to see how this values are atributed. The first row reffers to the books given, showing its indice and the distance (0.0)
  
  # All code below is to manage it to prepare the right output for testing.

  iterable = 0
  recommended_books = []

  #Fliping / reversing them because we want from higher distances to lower.
  indeces_reversed = np.flip(indeces[0])
  distances_reversed = np.flip(distances[0])

  for i in indeces_reversed:
    
    #To not append the book given (the book we pass to the function). We only want a list with the recommended books.
    if i == number_index:
      continue # it will not compute what is below this line.

    recommended_books.append([books_users.index[i], distances_reversed[iterable]])
    iterable += 1

  #Doing this to get the structured asked with nested lists.
  get_books_recommended = [book]
  get_books_recommended.append(recommended_books)
  

  return get_books_recommended

In [283]:
get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")

["Where the Heart Is (Oprah's Book Club (Paperback))",
 [["I'll Be Seeing You", 0.8016211],
  ['The Weight of Water', 0.77085835],
  ['The Surgeon', 0.7699411],
  ['I Know This Much Is True', 0.7677075],
  ['The Lovely Bones: A Novel', 0.7234864]]]

Use the cell below to test your function. The `test_book_recommendation()` function will inform you if you passed the challenge or need to keep trying.

In [282]:
books = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
print(books)

def test_book_recommendation():
  test_pass = True
  recommends = get_recommends("Where the Heart Is (Oprah's Book Club (Paperback))")
  if recommends[0] != "Where the Heart Is (Oprah's Book Club (Paperback))":
    test_pass = False
  recommended_books = ["I'll Be Seeing You", 'The Weight of Water', 'The Surgeon', 'I Know This Much Is True']
  recommended_books_dist = [0.8, 0.77, 0.77, 0.77]
  for i in range(2): 
    if recommends[1][i][0] not in recommended_books:
      test_pass = False
    if abs(recommends[1][i][1] - recommended_books_dist[i]) >= 0.05:
      test_pass = False
  if test_pass:
    print("You passed the challenge! 🎉🎉🎉🎉🎉")
  else:
    print("You haven't passed yet. Keep trying!")

test_book_recommendation()

["Where the Heart Is (Oprah's Book Club (Paperback))", [["I'll Be Seeing You", 0.8016211], ['The Weight of Water', 0.77085835], ['The Surgeon', 0.7699411], ['I Know This Much Is True', 0.7677075], ['The Lovely Bones: A Novel', 0.7234864]]]
You passed the challenge! 🎉🎉🎉🎉🎉